.alert {
    background-color: #fefefe;
    border-color: #fdfdfe;
    color: #818182;
    display: none;
    margin-bottom: 1rem;
    padding: 0.875rem 1rem;
}

.alert.show {
    display: block !important;
}

.alert.alert--error {
    background-color: #f8d7da !important;
    border-color: #f5c6cb !important;
    color: #721c24 !important;
}